form {
  margin-top: 10px;
  margin-left: 190px;
}
input[type="text"] {
  padding: 1px 70px 1px 10px;
  background: none;
  border-radius: 5px;
  border-color: black;
}
::placeholder {
  color: black;
}
input[type="submit"] {
  background-color: #242f42;
  color: white;
  border-radius: 5px;
  padding: 1px 19px 1px 19px;
}
input[type="submit"]:hover {
  background-color: #5e859c;
  border-color: #325673;
}
input[type="button"] {
  background-color: #242f42;
  color: white;
  border-radius: 5px;
  padding: 1px 19px 1px 19px;
}
input[type="button"]:hover {
  background-color: #5e859c;
  border-color: #325673;
}
.cityLine {
  margin-top: 15px;
}
.city {
  margin-left: 200px;
  margin-top: 25px;
  font-size: 50px;
  margin-bottom: 0px;
  font-family: "Lora", serif;
}

#icon {
  margin-top: -20px;
  opacity: 60%;
}

.snow {
  font-size: 20px;
  margin-left: 200px;
  font-family: "Lora", serif;
  margin-top: -35px;
  line-height: 1.3;
}
.weatherType {
  opacity: 60%;
}

.degree {
  font-size: 70px;
}
#mainUnit {
  position: relative;
  top: -35px;
  font-size: 18px;
}
.info {
  list-style: none;
  position: absolute;
  margin-left: 270px;
  margin-top: -73px;
  font-family: "Lora", serif;
  opacity: 60%;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.row {
  margin-left: 180px;
  margin-top: 30px;
  margin-top: 25px;
}
.card {
  text-align: center;
  background: none;
  border-width: 1px;
  border-color: black;
  margin: -8px -8px;
}
.card-body {
  padding: 18px 5px;
}
p {
  margin-left: 10;
}
.card-title {
  font-size: 15px;
  text-align: center;
}
.card-text {
  font-size: 10px;
  margin-bottom: 1px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #727272;
}
.Weather {
  text-align: center;
  margin-bottom: 0;
}
.Wday {
  font-size: 35px;
  color: #354355;
  opacity: 70%;
}
.Dday {
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #727272;
  line-height: 3;
}
.icon {
  position: absolute;
  margin-top: 125px;
  margin-left: 830px;
  font-size: 130px;
  opacity: 60%;
  color: #458aaa;
  -webkit-text-stroke: 2px #ffffff;
}

.flu {
  position: absolute;
  margin-top: 330px;
  margin-left: 855px;
  font-size: 40px;
  color: #f5fdff;
  text-shadow: 1px 1px 2px rgb(123, 144, 158), 0 0 1em #0e3246,
    0 0 0.2em #112b4b;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.units {
  position: relative;
  top: -15px;
  font-size: 20px;
}
.flu .c-l {
  color: white;
  cursor: default;
  text-decoration: none;
}
.flu .c-l:hover {
  text-decoration: none;
}

.date {
  position: absolute;
  margin-top: 440px;
  margin-left: 833px;
}
.time {
  position: absolute;
  margin-top: 460px;
  margin-left: 805px;
  font-size: 55px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.open-source {
  color: rgb(159, 201, 240);
  position: absolute;
  margin-top: 575px;
  margin-left: 290px;
  font-size: 14px;
}
